@mixin flex(
  $display: null,
  $direction: null,
  $justify: null,
  $align: null,
  $wrap: null
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin grid-column($col-start, $col-end) {
  grid-column: #{$col-start} / #{$col-end};
}

@mixin grid-row($row-start, $row-end) {
  grid-row: #{$row-start} / #{$row-end};
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin pseudoEl($pos, $width, $height, $bg-image, $bg-position) {
  content: "";
  position: $pos;
  width: $width;
  height: $height;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-position: $bg-position;
}

@mixin image($width, $height, $b-r) {
  width: $width;
  height: $height;
  border-radius: $b-r;
}

@mixin link($color, $l-h: null, $f-w: null, $display: null) {
  color: $color;
  line-height: $l-h;
  font-weight: $f-w;
  display: $display;
}

@mixin longParagraph($color) {
  color: $color;
  max-width: 100%;
  font-family: $font-rubik;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0 2.2rem 0 3rem;

  @include respond-x_small {
    font-size: 1.6rem;
    padding: 0;
  }

  @include respond-m_l {
    max-width: 85.1rem;
  }
}

@mixin sidebarTitle($m-b-xs: 2.5rem) {
  h2 {
    max-width: 34.9rem;
    font-size: 2.1rem;
    line-height: 3.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $m-b-xs;

    @include respond-x_small {
      height: 3.7rem;
      max-width: 34.9rem;
      font-size: 2.4rem;
      line-height: 3.1rem;
      margin-bottom: 2.5rem;
      margin-left: 0;
    }

    @include respond-m_l {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@mixin socialLinks {
  a {
    display: inline-block;
    width: 100%;

    svg {
      height: 1.275rem;
      width: auto;

      @include respond-small {
        height: 1.974rem;
      }

      path {
        fill: $black;
      }
    }

    &:hover {
      svg {
        path {
          fill: $yellow;
        }
      }
    }

    span {
      @include visually-hidden;
    }
  }
}

@mixin container {
  max-width: 166rem;
  margin: 0 auto;
  padding: 0;

  @include respond-x_small {
    padding: 0 8rem;
  }

  @include respond-medium {
    padding: 0 14rem;
  }

  @include respond-m_l {
    padding: 0 12rem;
  }

  @include respond-large {
    padding: 0 15.6rem;
  }
}

@mixin container-large {
  width: 100%;
  padding: 0 1.2rem;

  @include respond-x_small {
    padding: 0 3.4rem;
  }
}

// Media Queries

@mixin respond-large {
  @media (min-width: 90rem) {
    @content;
  }
}

@mixin respond-m_l {
  @media (min-width: 80rem) {
    @content;
  }
}

@mixin respond-medium {
  @media (min-width: 56.25rem) {
    @content;
  }
}

@mixin respond-small {
  @media (min-width: 43.75rem) {
    @content;
  }
}

@mixin respond-x_small {
  @media (min-width: 28.75rem) {
    @content;
  }
}

@mixin respond-m_l-height($height) {
  @media (min-width: 56.25rem) and (max-height: $height) {
    @content;
  }
}

@mixin respond-small-height($height) {
  @media (min-width: 28.75rem) and (max-width: 56.25rem) and (max-height: $height) {
    @content;
  }
}

@mixin admin-toolbar-arrow-down {
  background-image: url(../../../images/arrow-down.svg);
  background-size: 50%;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
