%line-before-text {
  display: inline-block;
  content: '';
  background-color: $yellow;
  width: 0.3rem;
  height: 1.5rem;
}

%button {
  font-family: $font-rubik;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: $br-20;
}

%form-element {
  border: none;
  border-bottom: 3px solid $black;
  background-color: transparent;
  padding: 2rem 0.4rem;
}

%list {
  list-style: none;
  margin: 0;
}

%cursor-default {
  &:hover {
    cursor: default;
  }
}
