//==============================================================================
// Colors
//==============================================================================
$black: #000;
$medium-black: #343352;
$dark-black: #1a1a1a;
$white: #fff;
$light-gray: #f9f9f9;
$light-medium-gray: #e5e5e5;
$medium-gray: #f5f5f7;
$dark-gray: #666;

$yellow: #ffc107;
$blue: #acd6e8;
$champagne: #d8d2b0;
$body-bg-color: $white;
$header-bg-color: #eee;
$menu-bg-color: rgba(104, 181, 214, 0.55);
$home-hero-bg-color: #eee;
$companies-hero-bg-color: rgba(185, 173, 111, 0.55);
$event-hero-bg-color: rgba(104, 181, 214, 0.56);
$locations-hero-bg-color: #f7f4f4;
$footer-bg-color: $light-gray;

$footer-link-color: $dark-gray;
$footer-link-hover-color: $black;

$cta-readmore-btn-color: $black;
$cta-readmore-btn-bg-color: $white;
$cta-signup-btn-color: $white;
$cta-signup-btn-bg-color: $black;

//==============================================================================
// Typography
//==============================================================================
$font-size: 1.6rem;
$font-rubik: "Rubik", sans-serif;
$font-archivo: "Archivo", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-color: $black;

// Font weights
$fw-600: 600;
$fw-400: 400;
$fw-500: 500;
$fw-normal: normal;
$fw-bold: bold;

// Headings
$heading-light-color: $white;
$heading-dark-color: $black;

// Margins
$m-0: 0;
$m-10: 1rem;
$m-15: 1.5rem;
$m-50: 5rem;
$m-80: 8rem;

// Line-hights
$lh-10: 1rem;
$lh-12: 1.2rem;
$lh-15: 1.5rem;
$lh-17: 1.7rem;
$lh-22: 2.2rem;
$lh-24: 2.4rem;
$lh-26: 2.6rem;
$lh-27: 2.7rem;
$lh-28: 2.8rem;

// Border radius
$br-10: 1rem;
$br-12: 1.2rem;
$br-20: 2rem;

//==============================================================================
// Buttons
//==============================================================================
$btn-black-color: $white;
$btn-black-bg-color: $black;
$btn-white-color: $black;
$btn-white-bg-color: $white;
$btn-events-color: $black;
$btn-events-bg-color: $light-gray;
$btn-events-hover-color: $light-gray;
$btn-events-hover-bg-color: $black;
