.pre-content {
  position: relative;
  top: -16.181rem;
}

.region-pre-content {
  height: 84.1rem;
  width: calc(100% - 1.8rem);
  background-color: $companies-hero-bg-color;
  border-bottom-left-radius: 9rem;
  margin-left: 1.8rem;
  padding-left: 17rem;
  padding-bottom: 16.5rem;

  @include flex($display: flex, $direction: column, $justify: flex-end);
}

#block-companiesherotitle {
  max-width: 51.7rem;
  font-size: 4.8rem;
  line-height: 5.2rem;
  color: $white;
  margin-bottom: 12rem;

  &::after {
    @include pseudoEl(
      absolute,
      79.6rem,
      43.8rem,
      url(../../images/companies-img.png),
      center
    );

    right: 4.5rem;
    top: -65%;
  }
}

#views-exposed-form-companies-page-1 {
  .form--inline {
    @include flex($display: flex, $align: flex-end);
  }

  .form-item {
    margin: 0;
  }

  input.form-text {
    @extend %form-element;

    width: 29rem;
    margin-right: 4rem;

    &::placeholder {
      color: $black;
      font-family: $font-rubik;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0.112rem;
    }
  }

  select {
    @extend %form-element;

    width: 27.888rem;
    height: 6.2rem;
    background-image: url(../../images/dropdown-arrow-icon.svg);
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) 2.5rem;
    appearance: none;
    font-family: $font-rubik;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.112rem;
    position: relative;
    margin-right: 3.712rem;

    /* option {
      font-family: $font-rubik;
      @include fontSize(14);
      position: absolute;
      left: 4px;
      top: 30px;
    } */
  }

  #edit-actions--2 {
    width: 15rem;
    margin: 0;

    input {
      @extend %button;

      width: 15rem;
      height: 37.91px;
      color: $white;
      background-color: $black;
      padding: 1.2rem 1.3rem 1.2rem 2.1rem;
      text-align: left;
      border: none;
      cursor: pointer;
      background-image: url(../../images/search-arrow-icon.svg);
      background-repeat: no-repeat;
      background-position: 85% 50%;
    }
  }
}

.view-id-companies {
  .view-header {
    font-size: 2.4rem;
    line-height: 4.8rem;
    margin-bottom: 7.4rem;
    position: relative;
  }

  .node__content {
    width: 29.9rem;
    height: 18.2rem;

    &:hover {
      border-radius: 2rem;
      box-shadow: 0.5rem 1.5rem 5rem rgba(0, 0, 0, 0.07);
    }
  }
}
