.node--type-company .node__content {
  @include flex($display: flex, $direction: column);

  .company-header {
    @include flex($display: flex, $justify: space-between);

    padding-left: 3rem;
    order: 2;

    @include respond-x_small {
      padding-left: 0;
    }

    @include respond-medium {
      order: 1;
    }
  }

  .company-logo {
    align-self: center;
    position: relative;

    .field--name-field-logo {
      img {
        display: none;

        @include respond-medium {
          display: block;
        }
      }
    }
  }

  .field--name-field-industry {
    &::before {
      @extend %line-before-text;

      margin-right: 0.8rem;

      @include respond-x_small {
        width: 0.4rem;
        height: 2.5rem;
        margin-right: 1.6rem;
      }
    }

    @include flex($display: flex, $align: center);

    padding-left: 3rem;
    order: 1;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: $font-archivo;
    font-size: 1.2rem;
    font-weight: $fw-500;

    @include respond-x_small {
      padding-left: 0;
      line-height: 2rem;
      font-size: 1.8rem;
      font-weight: $fw-600;
    }

    @include respond-medium {
      margin-top: 5.6rem;
      margin-bottom: 6rem;
      order: 2;
    }
  }

  .field--name-field-description {
    margin-top: 7.2rem;
    order: 3;

    @include respond-x_small {
      margin-top: 9.2rem;
    }

    @include respond-medium {
      margin-top: 0;
    }

    p {
      @include longParagraph($medium-black);
    }
  }

  .field--name-field-company-quote {
    margin-top: 4rem;
    margin-bottom: 5.1rem;
    padding-left: 2rem;
    padding-right: 3.7rem;
    order: 4;

    @include respond-x_small {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .paragraph--type--quote {
    @include flex($display: flex, $justify: flex-start);

    margin-top: 4rem;

    @include respond-small {
      @include flex($justify: center);
    }

    @include respond-medium {
      @include flex($justify: flex-start);
    }

    img {
      @include image(26.5rem, 21.7rem, $br-20);

      object-fit: cover;
      display: none;

      @include respond-medium {
        display: block;
      }
    }

    .field--name-field-quote-text {
      position: relative;
      align-self: center;

      p {
        font-family: $font-archivo;
        font-weight: $fw-600;
        font-size: 1.8rem;
        line-height: 2.8rem;
        max-width: 41.2rem;
        margin-left: 4.8rem;

        &::before {
          @include pseudoEl(
            absolute,
            5.3rem,
            4.3rem,
            url(../../images/quote-icon.svg),
            top left
          );

          top: -2rem;
          left: -0.2rem;

          @include respond-small {
            left: 5rem;
          }
        }

        @include respond-x_small {
          margin-left: 6rem;
        }

        @include respond-small {
          margin-left: 10.7rem;
        }
      }
    }
  }
}
