.main {
  overflow-x: hidden;
}

.layout-content {
  @include flex($display: flex, $direction: column);

  position: relative;
  margin-bottom: 6.7rem;

  @include respond-m_l {
    @include flex($direction: row);
  }

  .social-sharing-icons {
    order: 3;
    margin-top: 7.5rem;

    @include respond-medium {
      position: absolute;
      left: 6.1rem;
      top: 35.216rem;
    }

    ul {
      @include flex($display: flex, $direction: row, $justify: center);

      @include respond-medium {
        @include flex($direction: column);
      }
    }

    li {
      margin-right: 2.236rem;
      margin-bottom: 0;

      @include respond-medium {
        margin-right: 0;
        margin-bottom: 2.126rem;
      }
    }

    img {
      height: 1.532rem;

      @include respond-x_small {
        height: 1.974rem;
      }
    }

    .facebook-share img {
      width: 0.665rem;

      @include respond-x_small {
        width: 0.857rem;
      }
    }

    .twitter img {
      width: 1.761rem;

      @include respond-x_small {
        width: 2.27rem;
      }
    }

    .linkedin img {
      width: 1.437rem;

      @include respond-x_small {
        width: 1.853rem;
      }
    }

    a {
      display: inline-block;
      width: 100%;

      &:hover {
        img {
          filter: invert(68%) sepia(98%) saturate(1503%) hue-rotate(351deg)
            brightness(111%) contrast(107%);
        }
      }
    }
  }

  &.has-sidebar {
    .layout-content {
      width: 100%;
      padding: 5rem 2rem 0;
      box-sizing: border-box;

      @include respond-x_small {
        box-sizing: content-box;
        padding: 0;
      }

      @include respond-m_l {
        width: 65%;
      }

      @include respond-large {
        width: 70%;
        padding-left: 2.8rem;
        padding-right: 6rem;
      }
    }

    .layout-sidebar {
      padding-left: 0;
      width: 100%;

      @include respond-m_l {
        width: 35%;
      }

      @include respond-large {
        width: 30%;
      }

      .region-sidebar {
        display: block;

        @include respond-medium {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 50%);
        }

        @include respond-m_l {
          display: block;
        }
      }
    }
  }

  &.no-sidebar {
    .layout-content {
      width: 100%;
    }
  }
}
