#block-calltoaction-2 {
  @include flex(
    $display: flex,
    $direction: column,
    $justify: flex-start,
    $align: center
  );

  position: relative;
  width: 32rem;
  height: 21.4rem;
  margin: 0 auto 6.7rem auto;

  @include respond-x_small {
    width: 41rem;
    height: 26rem;
  }

  @include respond-small {
    @include flex($justify: center);

    width: 63.1rem;
    height: 42rem;
  }

  @include respond-medium {
    height: 46.8rem;
    width: 79.5rem;
  }

  &::before {
    @include pseudoEl(absolute, 11.6rem, 11.6rem, none, center);

    background-color: $yellow;
    border-radius: 100%;
    z-index: -1;
    left: 0;
    top: 0.6rem;

    @include respond-x_small {
      width: 18rem;
      height: 18rem;
    }

    @include respond-small {
      width: 30rem;
      height: 30rem;
    }

    @include respond-medium {
      width: 34rem;
      height: 34rem;
      top: 1.2rem;
    }
  }

  .clearfix {
    width: 32rem;

    @include respond-x_small {
      width: 41rem;
    }

    @include respond-small {
      width: auto;
    }
  }

  h2,
  p {
    color: $dark-black;
  }

  h2 {
    font-size: 2.1rem;
    width: 30.3rem;
    height: 3.9rem;
    text-align: center;
    margin-left: 0.8rem;
    margin-top: $m-50;

    @include respond-x_small {
      font-size: 3rem;
      text-align: left;
      width: 32rem;
      height: 4.2rem;
      margin-top: $m-80;
      margin-left: $m-80;
    }

    @include respond-small {
      margin-left: 14.8rem;
      margin-top: 0;
    }

    @include respond-medium {
      font-size: 4.2rem;
      margin-left: 2.6rem;
      width: 45.7rem;
    }
  }

  p {
    font-family: $font-rubik;
    text-align: center;
    font-size: 1.4rem;
    line-height: $lh-22;
    max-width: 29.3rem;
    margin-top: 0.6rem;
    margin-left: 2rem;

    @include respond-x_small {
      max-width: 36rem;
      font-size: 1.6rem;
      line-height: $lh-24;
      margin-left: 5.5rem;
      margin-top: $m-10;
    }

    @include respond-small {
      max-width: 53.1rem;
      font-size: 1.8rem;
      margin-right: 0;
    }

    @include respond-medium {
      margin-left: -1rem;
    }
  }

  .cta-buttons {
    @include flex($display: flex, $justify: center);

    margin-top: 3.6rem;
    margin-left: $m-0;

    @include respond-x_small {
      margin-left: 2rem;
    }

    @include respond-medium {
      margin-left: -4.8rem;
    }

    a {
      @include link(
        $color: $black,
        $l-h: $lh-10,
        $f-w: $fw-500,
        $display: inline-block
      );

      @extend %button;

      border: 1px solid $black;

      @include respond-x_small {
        font-size: 1rem;
        line-height: $lh-12;
      }
    }

    .readmore-btn {
      height: 4.2rem;

      a {
        color: $cta-readmore-btn-color;
        background-color: $cta-readmore-btn-bg-color;
        padding: 1.2rem 0.9rem 1.1rem 1.5rem;
        transition: all 0.2s ease;

        &:hover {
          background-color: $black;
          color: $white;
        }

        @include respond-x_small {
          padding: 1.4rem 2.1rem 1.3rem;
        }
      }
    }

    .item-list--linkicon {
      margin-left: $m-10;

      @include respond-x_small {
        margin-left: 2.2rem;
      }

      li {
        margin-left: 0;
      }

      a {
        background-color: $cta-signup-btn-bg-color;
        padding: 1.2rem 1.6rem 1.1rem 1.3rem;
        transition: all 0.2s ease;

        &:hover {
          border: 1px solid $yellow;
          background-color: $white;

          .link__text {
            color: $black;
          }

          svg {
            path {
              fill: $black;
            }
          }
        }

        @include respond-x_small {
          padding: 1.4rem 1.7rem 1.4rem 1.8rem;
        }

        svg {
          transform: scale(2);

          path {
            fill: $white;
          }
        }

        .link__text {
          color: $white;
          margin-right: 1.8rem;
        }

        .linkicon__text {
          display: none;
        }
      }
    }
  }
}
