.view-events {
  &.view-display-id-page_1 {
    padding: 0 3rem;

    @include respond-x_small {
      padding: 0;
    }

    .views-infinite-scroll-content-wrapper {
      @include respond-medium {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
      }
    }

    .views-row {
      &.animate {
        animation-name: popIn;
        animation-duration: 2s;
        animation-delay: 0.6s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in;
      }
    }

    .event-content {
      display: flex;
      margin-bottom: 3rem;

      @include respond-medium {
        margin-bottom: 0;
      }

      > div {
        width: calc(100% / 2 - 0.75rem);

        @include respond-medium {
          width: 50%;
        }
      }

      &-image {
        margin-right: 0.75rem;
        display: flex;
        overflow: hidden;
        border-radius: $br-20;

        @include respond-medium {
          margin-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &-info {
        margin-left: 0.75rem;
        padding: 2.8rem 1.5rem;
        background-color: $light-gray;
        border-radius: $br-20;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-medium {
          margin-left: 0;
          padding: 3rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      h2 {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      .node-readmore {
        padding: 0;

        a {
          font-size: 0.8rem;
          line-height: 0.9rem;
          text-transform: uppercase;
          font-family: $font-rubik;
          color: $black;
        }
      }

      .field--name-field-image {
        width: 100%;
        padding-bottom: 133.333333%;
        height: 0;
        position: relative;

        @include respond-medium {
          padding-bottom: 121.2121%;
        }
      }

      picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .field--name-field-start-end-date {
        padding-left: 0;

        .start-date,
        .end-date {
          font-size: 1.1rem;
          line-height: initial;

          label {
            display: none;
          }
        }

        .end-date {
          display: none;
        }
      }
    }
  }
}
