.node--type-event .node__content {
  .field--name-field-event-type {
    line-height: 1.306rem;
    font-weight: $fw-600;
    font-size: 1.2rem;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
    @include flex($display: flex, $align: center);

    @include respond-x_small {
      padding-left: 0;
      margin-bottom: 4.2rem;
      font-size: 1.8rem;
      line-height: 2rem;
    }

    @include respond-small {
      margin-bottom: 5.2rem;
    }

    .line {
      border-radius: 0.2rem;
      display: inline-block;
      margin-right: 1.6rem;
      width: 0.3rem;
      height: 1.5rem;

      @include respond-x_small {
        width: 0.4rem;
        height: 2.5rem;
      }
    }
  }

  .field--name-field-start-end-date {
    padding-left: 3rem;

    @include respond-x_small {
      padding-left: 0;
    }

    .start-date,
    .end-date {
      max-width: 14.4rem;
      font-family: $font-rubik;
      font-size: 1rem;
      font-weight: $fw-400;
      line-height: 1.5rem;

      @include respond-x_small {
        max-width: 100%;
        font-family: $font-roboto;
        font-size: 1.8rem;
        line-height: 3rem;
      }

      label {
        font-weight: $fw-500;
      }
    }
  }

  .field--name-field-description {
    margin-bottom: 4.7rem;
    margin-top: 7.1rem;

    @include respond-x_small {
      margin-top: 4.3rem;
    }

    p {
      @include longParagraph($black);
    }
  }
}

.block-views-blockevents-block-5 {
  display: none;

  @include respond-medium {
    display: block;
    margin: 0;
  }

  @include respond-m_l {
    margin-top: 2.8rem;
    margin-bottom: 6.5rem;
  }

  img {
    @include image(29.9rem, 30.3rem, 2.8rem);

    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: 0;

    @include respond-m_l {
      margin-left: 2.9rem;
    }
  }
}

.block-views-blockevents-block-3 {
  @include sidebarTitle($m-b-xs: 1rem);

  padding: 0 5rem;
  margin-top: 13.3rem;

  @include respond-x_small {
    padding: 0;
  }

  @include respond-small {
    margin-top: 4rem;
  }

  @include respond-medium {
    margin-top: 0;
    padding: 0 2.2rem 0 6rem;
  }

  @include respond-m_l {
    padding: 0 2.2rem 0 4.9rem;
  }

  .views-row {
    display: block;

    @include respond-small {
      @include flex($display: flex, $justify: space-between);
    }

    @include respond-medium {
      @include flex($direction: column);
    }
  }

  .node--type-location,
  .node--type-company {
    margin-top: 3rem;
    padding-left: 0;

    @include respond-x_small {
      margin-top: 0;
    }

    @include respond-medium {
      margin-top: 3rem;
      padding-left: 0.8rem;
    }
  }

  .node--type-location {
    margin-top: 0;

    h2 {
      margin-bottom: 0;
      margin-left: 0;
      font-size: 1.8rem;

      @include respond-x_small {
        font-size: 2rem;
        height: auto;
        margin-bottom: 0.5rem;
      }

      @include respond-small {
        margin-bottom: 0;
      }

      a {
        @include link($color: $black);

        @extend %cursor-default;
      }
    }
  }

  .sidebar-location-info,
  .sidebar-company-info {
    padding-bottom: 0;

    @include respond-x_small {
      padding-bottom: 2.6rem;
    }

    .field--name-field-description {
      margin-top: 0;

      p {
        color: $black;
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 0;
        max-width: 20.4rem;

        @include respond-x_small {
          font-size: 1.6rem;
          line-height: 2.6rem;
          max-width: 26.9rem;
        }
      }
    }

    a {
      @include link($color: $black, $l-h: 0.9rem, $f-w: $fw-500);

      width: 9rem;
      font-size: 0.8rem;
      font-family: $font-rubik;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      &::after {
        @include pseudoEl(
          relative,
          1.6rem,
          0.8rem,
          url(../../images/readmore-arrow-icon-big.svg),
          center
        );

        left: 1.1rem;
        top: 0.1rem;
        display: inline-block;
      }

      &:hover {
        color: $dark-gray;

        &::after {
          filter: invert(34%) sepia(95%) saturate(0%) hue-rotate(268deg)
            brightness(97%) contrast(99%);
        }
      }

      @include respond-x_small {
        font-family: $font-roboto;
        font-size: 1rem;
        line-height: 2.4rem;

        &::after {
          @include pseudoEl(
            relative,
            1.2rem,
            0.8rem,
            url(../../images/readmore-arrow-icon.svg),
            center
          );

          left: 0.5rem;
          top: 0;
          display: inline-block;
        }
      }
    }
  }

  .sidebar-company-info {
    img {
      margin-bottom: 1.452rem;
    }
  }
}
