.footer {
  .footer-main {
    box-sizing: border-box;
    height: 100%;
    background-color: $footer-bg-color;
    font-family: $font-archivo;
    width: calc(100% - 1.1rem);
    padding: 5.1rem 3rem 4.9rem;
    margin-left: 1.1rem;
    font-size: 1rem;
    border-top-left-radius: 6rem;

    @include respond-x_small {
      padding: 5.1rem 0;
    }

    @include respond-small {
      width: calc(100% - 2.3rem);
      margin-left: 2.3rem;
      padding: 12.5rem 0 5.6rem 0;
      border-top-left-radius: 9rem;
      font-size: 1.2rem;
    }

    .layout-container {
      @include flex($display: flex, $wrap: wrap);
    }
  }
}

#block-companyaddress-2,
#block-companyservices-4 {
  width: 40%;
}

#block-websitelogo-3 {
  width: 20%;

  img {
    width: 1.5rem;
    height: 2.344rem;

    @include respond-x_small {
      height: 5rem;
      width: auto;
    }

    @include respond-small {
      height: 6.5rem;
      width: 4.3rem;
    }
  }
}

#block-websitelogo-3,
#block-companyaddress-2,
#block-companyservices-4 {
  @include respond-x_small {
    width: 33.33%;
  }

  @include respond-medium {
    width: 25%;
  }
}

#block-contactus {
  width: 100%;
  padding-left: 20%;
  margin-top: 2.8rem;

  @include respond-x_small {
    padding-left: 33.33%;
    margin-top: 5rem;
  }

  @include respond-medium {
    width: 25%;
    padding-left: 0;
    margin-top: 0;
  }
}

#block-companyaddress-2 p,
#block-companyservices-4 ul,
#block-companycontact-4 p {
  line-height: $lh-17;

  @include respond-small {
    line-height: $lh-27;
  }
}

#block-companyservices-4 {
  ul {
    a {
      @include link($color: $footer-link-color, $display: inline-block);

      width: 100%;

      &:hover {
        cursor: pointer;
        font-weight: $fw-500;
        color: $footer-link-hover-color;
      }
    }
  }
}

#block-companycontact-4 {
  p {
    margin-bottom: 1.85rem;

    a {
      color: $black;

      &:hover {
        color: $dark-gray;
      }
    }
  }
}

#block-socialmedialinks-3 {
  .item-list--linkicon {
    ul {
      @extend %list;

      height: 1.275rem;

      @include flex($display: flex);

      @include respond-small {
        height: 1.975rem;
      }
    }

    li {
      margin: 0;

      &:not(:last-child) {
        margin-right: 1.86rem;

        @include respond-small {
          margin-right: 2.88rem;
        }
      }
    }

    @include socialLinks;
  }
}

.copyright {
  width: calc(100% - 2.3rem);
  margin-left: 2.3rem;
  background-color: $footer-bg-color;
  font-family: $font-archivo;
  color: $dark-gray;
  font-size: 1rem;
  display: none;

  @include respond-medium {
    display: block;
  }

  .layout-container {
    width: 100%;

    @include flex($display: flex);

    padding-left: 25%;
  }
}

#block-copyright {
  width: 100%;

  @include flex($display: flex);

  padding: 3.2rem 0 4.8rem 0;
}

.copyright-text {
  margin-right: $m-15;
  font-weight: $fw-400;
}

.copyright-links {
  ul {
    @include flex($display: flex);
  }

  .field__item {
    .divider {
      margin-right: $m-15;
    }

    a {
      text-decoration: none;
      color: $dark-gray;
      display: inline-block;
      margin-right: $m-15;
      letter-spacing: 0.01em;

      &:hover {
        color: $black;
        cursor: pointer;
        font-weight: $fw-500;
        letter-spacing: 0;
      }
    }
  }
}
