#block-headerlogoicon {
  @include flex($display: flex, $justify: space-between);

  width: calc(100% - 2.88rem);
  height: 11.1rem;
  position: relative;
  z-index: 6;
  margin-left: 1.3rem;
  margin-right: 1.1rem;

  @include respond-x_small {
    margin-left: 1.8rem;
    margin-right: 1.08rem;
  }

  img {
    width: 1.5rem;
    height: 2.344rem;
    margin-top: 2.1rem;

    @include respond-x_small {
      width: 3.471rem;
      height: 5.194rem;
      margin-top: 4.7rem;
    }
  }

  .fontawesome-icons {
    width: 2.8rem;
    height: 3.2rem;
    margin-top: 1.8rem;

    @include respond-x_small {
      margin-top: 4.69rem;
    }
  }

  .fontawesome-icon {
    position: relative;
    margin-right: 1.1rem;

    @include respond-x_small {
      margin-right: 1.08rem;
    }

    &::after {
      @include pseudoEl(
        absolute,
        3.3rem,
        4.457rem,
        url(../../images/close-icon-small.svg),
        top left
      );

      top: 0.5rem;
      left: 0.8rem;
      transition: opacity 0.25s, transform 0.25s;
      transform: rotate(-135deg);
      opacity: 0;

      @include respond-x_small {
        @include pseudoEl(
          absolute,
          3.5rem,
          5.2rem,
          url(../../images/close-icon.svg),
          top left
        );

        left: 0;
        top: 0;
      }
    }

    &.clicked {
      &::after {
        transform: rotate(0deg);
        opacity: 1;
      }

      svg {
        transform: rotate(135deg);
        opacity: 0;
      }
    }

    &.sticky {
      position: fixed;
      z-index: 1000;
      top: 1.8rem;
      right: 1.6rem;

      &--logged-in {
        @extend .sticky;

        @include respond-x_small {
          top: 8rem;
          right: 3.4rem;
        }
      }

      &--logged-out {
        @extend .sticky;

        right: 1.6rem;

        @include respond-x_small {
          top: 4.7rem;
          right: 3.4rem;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      transition: opacity 0.25s, transform 0.25s;
      transform: rotate(0deg) scale(0.7);

      @include respond-x_small {
        transform: scale(1.3);
      }
    }
  }
}
