.location-contact-info {
  position: relative;
  margin-bottom: 6.4rem;
  padding: 0 0 0 3rem;

  @include respond-x_small {
    padding: 0;
  }
}

.location-description {
  margin-bottom: 4.9rem;
  margin-top: 7.2rem;

  p {
    @include longParagraph($medium-black);
  }
}

.location-extras {
  @include flex($display: flex, $justify: center);

  height: auto;
  margin-bottom: 7.2rem;
  column-gap: 0;

  @include respond-x_small {
    @include flex($justify: flex-start);

    height: 24.2rem;
    margin-bottom: 2.2rem;
  }

  @include respond-small {
    margin-bottom: 7.2rem;
  }

  @include respond-medium {
    column-gap: 3.9rem;
  }

  .field--name-field-image {
    max-width: 31.4rem;
  }

  img {
    @include image(100%, 24.2rem, $br-12);

    object-fit: cover;
    margin-right: 3.9rem;
    display: none;

    @include respond-medium {
      display: block;
    }
  }

  .field--name-field-equipment {
    display: grid;
    grid-template-columns: repeat(2, minmax(13rem, 14.9rem));
    grid-gap: 10px 13px;
    align-self: center;

    @include respond-x_small {
      grid-template-columns: repeat(2, minmax(15rem, 19rem));
      grid-gap: 2.2rem 1.6rem;
    }

    @include respond-small {
      grid-template-columns: repeat(2, minmax(16rem, 19rem));
    }

    @include respond-large {
      grid-column-gap: 2.9rem;
    }

    .field__item {
      background-color: $medium-gray;
      border-radius: 1.4rem;
      max-width: 14.9rem;
      height: 4.3rem;
      align-self: center;
      position: relative;
      padding-left: 4.3rem;
      padding-right: 1.4rem;
      font-size: 1.2rem;
      font-weight: $fw-bold;
      font-family: $font-archivo;
      line-height: 1.306rem;

      @include flex($display: flex, $align: center);

      @include respond-x_small {
        max-width: 19rem;
        height: 6.3rem;
        padding-left: 4.8rem;
        line-height: 1.7rem;
        font-size: 1.6rem;
      }

      &::before {
        @include pseudoEl(
          absolute,
          1.5rem,
          1.285rem,
          url(../../images/check-icon.svg),
          center
        );

        display: inline-block;
        background-size: 1.5rem 1.285rem;
        left: 1.4rem;

        @include respond-x_small {
          @include pseudoEl(
            absolute,
            2rem,
            2rem,
            url(../../images/check-icon.svg),
            center
          );

          left: 1.4rem;
          background-size: 2rem 2rem;
        }
      }
    }
  }
}
