.menu-full {
  @include flex($display: flex, $direction: column);

  background-color: $white;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: visibiility 0s, transform 0.7s, opacity 0.5s;

  @include respond-medium {
    @include flex($direction: row);
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  @include respond-small-height(46.625rem) {
    min-height: 67.5rem;
  }
}

.region-menu {
  @include flex(
    $display: flex,
    $direction: column,
    $justify: center,
    $align: flex-start
  );

  max-width: calc(100% - 1.3rem);
  width: 100%;
  min-height: 75%;
  position: relative;
  right: 0;
  margin-left: 1.3rem;
  padding-left: 7.1rem;
  border-bottom-left-radius: 6rem;
  background-color: $menu-bg-color;

  @include respond-x_small {
    max-width: calc(100% - 2.1rem);
    height: 300%;
    padding-left: 11.8rem;
    margin-left: 2.1rem;
  }

  @include respond-medium {
    @include flex($justify: flex-end, $direction: row, $align: center);

    width: 49%;
    height: 82.57%;
    margin-left: 0;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 0;
  }

  @include respond-m_l {
    padding-left: 15.8rem;
  }

  @include respond-m_l-height(50.94rem) {
    min-height: 64.5rem;
  }

  @include respond-small-height(49.375rem) {
    min-height: 51.4rem;
  }

  @include respond-m_l {
    padding-left: 11.8rem;
  }

  nav {
    max-width: 25.8rem;
    width: 100%;
    height: 22.9rem;

    @include respond-x_small {
      height: 31.1rem;
      max-width: 51.8rem;
      width: 100%;
    }

    ul {
      margin-left: 0;
      height: 29rem;
    }

    li {
      padding-top: 0;
      height: 4.1rem;
      margin-bottom: 0.9rem;

      @include respond-x_small {
        height: 5.8rem;
        margin-bottom: 0;
      }
    }

    a {
      @include link($color: $white, $l-h: 4.2rem, $f-w: $fw-bold);

      font-family: $font-archivo;
      font-size: 3.6rem;
      padding: 0.1rem 0;

      &.is-active,
      &:hover {
        color: $black;

        &::after {
          @include pseudoEl(
            relative,
            4.6rem,
            1.2rem,
            url(../../images/menu-arrow-icon.svg),
            center
          );

          background-size: 4.6rem 1.2rem;
          display: inline-block;
          bottom: 0.5rem;
          left: 1.5rem;

          @include respond-x_small {
            left: 3rem;
          }
        }
      }

      @include respond-x_small {
        font-size: 4rem;
        padding: 0.75rem 0;
      }

      @include respond-m_l {
        font-size: 4.8rem;
        line-height: 5.2rem;
        padding: 0.3rem 0;
      }
    }

    li:nth-child(6),
    li:last-child {
      margin-top: 3.7rem;
      margin-bottom: 0;

      @include respond-x_small {
        margin-top: 4.7rem;
      }

      &.hide {
        display: none;
      }

      .sign-in-btn,
      .sign-out-btn {
        @include link($color: $white, $l-h: 2.4rem, $f-w: $fw-500);

        @extend %button;

        display: inline-block;
        background-color: $black;
        transition: min-width 0.2s ease;
        font-size: 1rem;

        @include respond-x_small {
          &:hover {
            min-width: 13.6rem;
            font-size: 1rem;

            &::after {
              @include pseudoEl(
                relative,
                2.7rem,
                1.2rem,
                url(../../images/menu-btn-arrow-icon.svg),
                center
              );

              left: 1.5rem;
              top: 0.2rem;
              background-size: 2.7rem 2.1rem;
            }
          }
        }
      }

      .sign-in-btn {
        min-width: 9.3rem;
        padding: 0.6rem 0.6rem 0.6rem 2.1rem;

        @include respond-medium {
          font-size: 0;

          &::before {
            content: "Sign In";
            position: relative;
            width: 5.4rem;
            height: 1.2rem;
            font-size: 1rem;
            left: 0;
            top: 0.2rem;
          }

          &:hover {
            font-size: 0;
          }
        }
      }

      .sign-out-btn {
        min-width: 10rem;
        padding: 0.6rem 0.6rem 0.6rem 2.1rem;

        @include respond-medium {
          padding: 0.8rem 0.6rem 0.7rem 2.1rem;
        }
      }
    }
  }
}

.region-post-menu {
  @include flex($display: flex, $direction: column, $justify: flex-start);

  width: 100%;
  min-height: 11rem;
  padding-left: 8.4rem;
  padding-right: 8rem;
  margin-top: 5.1rem;
  margin-bottom: 3.6rem;

  @include respond-x_small {
    padding-left: 13.9rem;
  }

  @include respond-medium {
    @include flex($justify: flex-end);

    padding: 0 10rem 0 12.8rem;
    width: 51%;
    min-height: 64.5rem;
    height: 82.57%;
  }

  @include respond-m_l {
    padding: 0 15.8rem;
  }

  #block-menuquote {
    max-width: 43.1rem;
    min-height: 6.8rem;
    font-family: $font-rubik;
    line-height: 3.1rem;
    position: relative;
    display: none;

    @include respond-medium {
      display: block;
    }

    p {
      font-size: 2.4rem;
      font-weight: $fw-500;
      margin-bottom: 2.2rem;

      &::before {
        @include pseudoEl(
          absolute,
          2.6rem,
          2.2rem,
          url(../../images/menu-quote-icon.svg),
          bottom left
        );

        display: inline-block;
        left: -1rem;
        top: -4rem;
      }
    }

    .field--name-field-quote-author {
      font-size: 1.8rem;
      font-weight: $fw-400;
    }
  }

  #block-menucontactinfoandsociallinks {
    min-height: 11rem;
    margin: 0;

    @include respond-m_l-height(62.5rem) {
      margin-top: 15rem;
      margin-bottom: 10rem;
    }

    @include respond-m_l-height(56.25rem) {
      margin-top: 12rem;
      margin-bottom: 9.5rem;
    }

    @include respond-m_l-height(50.94rem) {
      margin-top: 9.5rem;
      margin-bottom: 8.5rem;
    }

    @include respond-medium {
      margin-top: 19rem;
      margin-bottom: 12rem;
      min-height: 16.043rem;
    }

    .field--name-field-contact-us {
      h6 {
        font-weight: $fw-bold;
        line-height: 3.8rem;
        margin-bottom: 1.85rem;
        display: none;

        @include respond-medium {
          display: block;
        }
      }

      p {
        font-family: $font-archivo;
        font-size: 1.2rem;
        line-height: 2.7rem;
        margin-bottom: 1.85rem;
      }
    }

    .paragraph--type--social-media-links {
      ul {
        @include flex($display: flex);

        @extend %list;
      }

      li {
        margin: 0;

        &:not(:last-child) {
          margin-right: 2.88rem;
        }
      }

      @include socialLinks;
    }
  }
}
