* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $font-color;
  background-color: $body-bg-color;
  font-size: $font-size;
  font-family: $font-roboto;

  &.modal-open {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-archivo;
  color: $heading-dark-color;
}

h1 {
  min-height: 2.7rem;
  font-size: 2rem;
  font-weight: $fw-bold;
  line-height: 2rem;
  margin-bottom: 0.6rem;
  padding-left: 3rem;
  box-sizing: content-box;

  @include respond-x_small {
    box-sizing: border-box;
    font-size: 3.8rem;
    line-height: 5.2rem;
    min-height: 7.3rem;
    margin-bottom: 1.6rem;
    padding-left: 0;
  }

  @include respond-small {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 4.2rem;
  font-weight: $fw-600;
  line-height: 4.2rem;
}

h6 {
  font-weight: $fw-bold;
  font-size: 1.2rem;
  height: 2.098rem;
  line-height: 1.306rem;
  margin-bottom: 0;

  @include respond-small {
    font-size: 1.4rem;
    line-height: 1.523rem;
    margin-bottom: 2.7rem;
  }
}

ul {
  @extend %list;
}

ol {
  @extend %list;
}

a {
  text-decoration: none;
}

.container {
  @include container;
}

.container-large {
  @include container-large;
}

.region-content {
  width: 100%;
}
