/**
 * Archivo font
 **/

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/archivo/Archivo-Regular.woff2") format("woff2"),
    url("../assets/fonts/archivo/Archivo-Regular.woff") format("woff"),
    url("../assets/fonts/archivo/Archivo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/archivo/Archivo-Medium.woff2") format("woff2"),
    url("../assets/fonts/archivo/Archivo-Medium.woff") format("woff"),
    url("../assets/fonts/archivo/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/archivo/Archivo-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/archivo/Archivo-SemiBold.woff") format("woff"),
    url("../assets/fonts/archivo/Archivo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/archivo/Archivo-Bold.woff2") format("woff2"),
    url("../assets/fonts/archivo/Archivo-Bold.woff") format("woff"),
    url("../assets/fonts/archivo/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/**
 * Roboto font
 **/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
 * Rubik font
 **/
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/rubik/Rubik-Regular.woff2") format("woff2"),
    url("../assets/fonts/rubik/Rubik-Regular.woff") format("woff"),
    url("../assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/rubik/Rubik-Medium.woff2") format("woff2"),
    url("../assets/fonts/rubik/Rubik-Medium.woff") format("woff"),
    url("../assets/fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/rubik/Rubik-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/rubik/Rubik-SemiBold.woff") format("woff"),
    url("../assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
