.field--name-field-website a {
  @include link($color: $black);

  @extend %cursor-default;
}

.field--name-field-website,
.field--name-field-phone-number,
.field--name-field-email {
  font-size: 1rem;
  font-weight: $fw-500;
  line-height: $lh-15;

  @include respond-x_small {
    font-size: 1.6rem;
    line-height: $lh-17;
    font-weight: $fw-bold;
  }
}

.field--name-field-phone-number,
.field--name-field-email {
  margin-top: 0;

  @include respond-x_small {
    margin-top: 2rem;
  }
}
