.block-views-blockevents-block-1,
.block-views-blockevents-block-2 {
  margin-bottom: 6.5rem;
  padding: 0 3.7rem 0 3.5rem;
  margin-top: 0;
  max-width: 100%;

  @include respond-x_small {
    padding: 0;
  }

  @include respond-small {
    max-width: 90%;
  }

  @include respond-m_l {
    max-width: 100%;
    margin-top: 3.2rem;
    padding-left: 3.5rem;
    padding-right: 0;
  }

  @include sidebarTitle;

  .views-row {
    background-color: $medium-gray;
    border-radius: 1.4rem;
    height: 8rem;
    transition: background-color 0.3s;
    display: grid;
    grid-template-columns: 8.65rem auto;
    margin-left: auto;
    margin-right: auto;
    width: 34.9rem;
    max-width: 100%;
    position: relative;

    &:hover {
      background-color: $white;
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    @include respond-x_small {
      margin: 0;
    }

    @include respond-m_l {
      max-width: 100%;
      grid-template-columns: 9.65rem auto;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .views-field-title {
    @include grid-column(2, 3);
    @include grid-row(1, 2);

    align-self: flex-end;

    a {
      @include link($color: $black, $l-h: $lh-17, $f-w: $fw-bold);

      font-family: $font-archivo;
      font-size: 1.4rem;

      @include respond-x_small {
        font-size: 1.6rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  .views-field-field-image {
    @include grid-column(1, 2);
    @include grid-row(1, 3);

    margin: auto 0 auto 0.85rem;

    img {
      @include image(6.4rem, 6.4rem, $br-12);

      display: block;
      object-fit: cover;
      margin: auto 0;
    }
  }

  .views-field-field-start-end-date {
    @include grid-column(2, 3);
    @include grid-row(2, 3);

    font-family: $font-roboto;
    font-size: 1.3rem;
    line-height: $lh-15;
    margin-top: 1.1rem;

    .field-content {
      @include flex($display: flex, $align: center);

      &::before {
        @include pseudoEl(
          relative,
          20px,
          20px,
          url(../../images/calendar-icon.svg),
          center
        );

        margin-right: 0.8rem;
      }
    }
  }
}
