#block-locationmap {
  @include sidebarTitle;

  padding-left: 3.5rem;
  padding-right: 3.4rem;
  max-width: 100%;

  @include respond-x_small {
    padding-left: 0;
    padding-right: 0;
  }

  @include respond-small {
    max-width: 90%;
    margin-top: 3.2rem;
  }

  @include respond-medium {
    margin-top: 0;
  }

  @include respond-m_l {
    padding-left: 3.5rem;
    max-width: 100%;
  }

  img {
    @include image(34.9rem, auto, $br-20);

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    @include respond-x_small {
      margin-left: 0;
    }

    @include respond-m_l {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
