{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
  <div class="gallery-wrapper">
    <div class="gallery-thumbnails">
      {% for item in items %}
        <div{{ item.attributes.addClass('gallery-thumbnail', 'open-modal') }} data-thumbnail="{{ loop.index }}">
          {% set imagePath = item.content['#item'].entity.uri.value %}
          {% set imageAlt = item.content['#item'].alt %}
          <a href="{{ imagePath|image_style('gallery_thumbnail_228_x_228_') }}">
            <img class='image' src={{ imagePath|image_style('gallery_thumbnail_228_x_228_') }} width="228" height="228"  alt='{{ imageAlt }}' loading="lazy"> 
            <span class="visually-hidden">Opens image in lightbox slider</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="modal is-hidden" tabindex="-1" aria-label="Event lightbox slider" role="dialog" aria-hidden="true" aria-describedby='modalDescription'>
      <div class="modal-wrapper">
        <div id="modalDescription" class="visually-hidden">Beginning of a dialog window.
          Pressing Escape key or the Close Modal button will close the modal and bring you back to where you were on the page.
        </div>
        <button class="close-modal" aria-label='Close modal'></button>
        <div class="gallery-slider" >
          <div class="gallery-slider-top">
            <div class="gallery-slides" >
              {% for item in items %}
                <div class="gallery-slide">
                  <div{{ item.attributes.addClass('gallery-slide-image').removeClass('gallery-thumbnail', 'open-modal') }}>
                    {{ item.content }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="gallery-slider-btn btn-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
            <div class="gallery-slider-btn btn-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
          </div>

          <div class="gallery-slider-bottom">
            <div class="gallery-slider-thumbnails">
              {% for item in items %}
                <div class="gallery-slider-thumbnail" data-slider-thumbnail="{{ loop.index }}">
                  <div{{ item.attributes.addClass('gallery-slider-thumbnail-image').removeClass('gallery-slide-image') }}>
                    {% set imagePath = item.content['#item'].entity.uri.value %}
                    {% set imageAlt = item.content['#item'].alt %}
                    <img class='image' src={{ imagePath|image_style('lightbox_thumbnail_480_x_384') }} width="480" height="384"  alt='{{ imageAlt }}' loading="lazy"> 
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
