@import "../abstracts/mixins";
@import "../abstracts/variables";

.toolbar .menu-item a {
  font-family: $font-rubik;
}

.toolbar-tray-horizontal {
  .menu-item--expanded {
    background-color: $white;
  }

  .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus,
  ul li.menu-item--expanded ul li.menu-item--expanded {
    background-image: url(../../../images/arrow-right.svg);
    background-position: calc(100% - 10px) center;
  }
}

.toolbar-tray-vertical {
  .toolbar-icon.toolbar-handle {
    &:focus {
      background: $champagne;
    }

    &::before,
    &.open::before {
      @include admin-toolbar-arrow-down;
    }

    &::before {
      background-position: right center;
    }

    &.open::before {
      background-position: left center;
      transform: rotate(180deg);
    }
  }

  .toolbar-menu .toolbar-menu {
    .toolbar-icon.toolbar-handle::before,
    .toolbar-icon.toolbar-handle.open::before {
      filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(28%)
        hue-rotate(185deg) brightness(94%) contrast(81%);
      @include admin-toolbar-arrow-down;
    }

    .toolbar-icon.toolbar-handle::before {
      background-position: right center;
    }

    .toolbar-icon.toolbar-handle.open::before {
      background-position: left center;
    }
  }
}

.toolbar-tray-horizontal,
.toolbar-tray-vertical {
  .menu-item:hover {
    background: $blue;
  }

  .menu-item a:focus {
    background: $champagne;
  }
}
