/**
 * @file
 * Visual styles for animated throbber.
 *
 * @see autocomplete.js
 */

.js input.form-autocomplete {
  background-image: url(../../../images/progress-icon-inactive.png);
  background-repeat: no-repeat;
  background-position: 100% center; /* LTR */
  background-size: 14px;
}

.js[dir="rtl"] input.form-autocomplete {
  background-position: 0% center;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../../../images/progress-icon-active.gif);
  background-position: 100% center; /* LTR */
}

.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
}
