.paragraph--type--gallery {
  .gallery-wrapper {
    margin-left: -2rem;
    margin-right: -2rem;

    @include respond-x_small {
      margin-left: -8rem;
      margin-right: -8rem;
    }

    @include respond-small {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .gallery-thumbnails {
    @include flex($display: flex, $justify: flex-start);

    column-gap: 2.7rem;
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;
    padding: 0.3rem 4.6rem 1.6rem 4.6rem;

    @include respond-x_small {
      padding: 0.3rem 7.4rem 1.6rem 7.4rem;
      margin-bottom: 4.8rem;
    }

    @include respond-small {
      @include flex($justify: center, $wrap: wrap);

      position: static;
      padding: 0;
      overflow: unset;
    }

    @include respond-m_l {
      @include flex($justify: flex-start);
    }

    a {
      display: flex;

      &:focus {
        outline: 3px solid blue;
      }
    }

    img {
      @include image(7rem, 7rem, $br-12);

      object-fit: cover;

      @include respond-x_small {
        width: 8.9rem;
        height: 8.9rem;
      }

      @include respond-small {
        width: 11.382rem;
        height: 11.382rem;
      }
    }
  }

  .gallery-thumbnail {
    @include respond-small {
      margin-bottom: 1.6rem;
    }
  }

  /* Lightbox gallery */

  .modal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $white;

    &.is-hidden {
      display: none;
    }

    &.is-open {
      display: block;
    }

    &-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }

    &-title {
      margin: 0;
      padding: 0;
      line-height: 0;
      min-height: 0;
    }
  }

  .close-modal {
    background-color: $white;
    border: none;
    position: absolute;
    display: flex;
    top: 2.3rem;
    right: 2.3rem;

    &::after {
      @include pseudoEl(
        relative,
        1.3rem,
        1.3rem,
        url(../../images/close-icon-small.svg),
        center
      );

      display: inline-block;
      background-size: 1.3rem 1.3rem;

      @include respond-x_small {
        @include pseudoEl(
          relative,
          3.5rem,
          5.2rem,
          url(../../images/close-icon.svg),
          center
        );

        background-size: 2.5rem 5.2rem;
      }
    }

    @include respond-x_small {
      top: 3.2rem;
      right: 4.7rem;
    }
  }

  .gallery-slider {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-bottom: 5rem;
    height: calc(100% - 13rem);
    justify-content: center;

    @include respond-x_small {
      margin-top: 16rem;
      margin-bottom: 13rem;
      height: calc(100% - 29rem);
    }

    @include respond-medium {
      margin-top: 21.3rem;
      margin-bottom: 18.3rem;
      height: calc(100% - 39.6rem);
    }

    &-top {
      position: relative;
      width: 100%;
      max-width: 141.5rem;
      padding: 0 6.25rem;
      margin: 0 auto;

      @include respond-small {
        padding: 0 11.25rem;
      }
    }

    &-bottom {
      width: 100%;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      position: relative;
      margin: 0.8rem auto 0 auto;
      flex-shrink: 0;

      @include respond-small {
        max-width: 141.5rem;
        padding: 0 11.25rem;
        margin: 8.3rem auto 0 auto;
      }
    }

    &-thumbnails {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      gap: 1.5rem;
      padding: 3rem 3.5rem;

      @include respond-x_small {
        gap: 2.5rem;
      }

      @include respond-small {
        gap: 5rem;
        margin: 0 auto;
        max-width: 87rem;
        padding: 3rem 1rem;
      }
    }

    &-thumbnail {
      height: 100%;
      border-radius: 0.5rem;
      overflow: hidden;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      width: 3.8rem;
      flex-shrink: 0;

      @include respond-x_small {
        width: 7rem;
        border-radius: $br-10;
      }

      @include respond-small {
        width: 10rem;
      }

      &-image {
        position: relative;
        padding-bottom: 78.98%;
        max-width: 100%;
        height: auto;

        @include respond-x_small {
          padding-bottom: 80%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.is-active {
        box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.25);
        opacity: 1;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-btn.btn-prev,
    &-btn.btn-next {
      background-image: url(../../images/slider-arrow-small.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 1.78rem;
      position: absolute;
      top: calc(50% - 0.89rem);

      @include respond-small {
        background-image: url(../../images/slider-arrow-big.svg);
        width: 8.9rem;
        height: 6.1rem;
        top: calc(50% - 3.05rem);
      }

      &:not(.disabled):hover {
        cursor: pointer;
      }

      &.disabled {
        background-image: url(../../images/slider-arrow-small-gray.svg);

        @include respond-small {
          background-image: url(../../images/slider-arrow-big-gray.svg);
        }
      }
    }

    &-btn.btn-prev {
      transform: rotate(180deg);
      left: 1.55rem;

      @include respond-small {
        left: 1rem;
      }
    }

    &-btn.btn-next {
      right: 1.55rem;

      @include respond-small {
        right: 1rem;
      }
    }
  }

  .gallery-slides {
    margin: 0 auto;
    max-width: 87rem;
  }

  .gallery-slide {
    display: none;
    animation: fadeOut 1.5s;

    &.is-active {
      display: block;
      animation: fadeIn 1s;
    }

    &-image {
      border-radius: $br-10;
      overflow: hidden;
      position: relative;
      padding-bottom: 65.518%;
      max-width: 100%;
      height: auto;

      @include respond-small {
        border-radius: $br-20;
      }
    }

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    picture {
      z-index: 1;
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
